header {
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #FFD7D7;
}

img {
    width: 30%;
}

nav {
    display: flex;
    justify-content: space-between;
}

div {
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
}

i {
    color: #FFD7D7;

    &:hover {
        transform: scale(110%);
    }
}