<a routerLink="/posts">
    <mat-icon class="icon" id="return">arrow_back</mat-icon>
</a>
<div class="post-card" *ngIf="post$ | async as post">
    <div class="post-header">
        <h4>Mis en ligne le {{ post.createdDate | date: 'longDate'}}</h4>
        <a mat-icon-button [matMenuTriggerFor]="menu" *ngIf="this.isAdmin === true || userId === post.userId">
            <mat-icon class="icon">more_vert</mat-icon>
        </a>
        <mat-menu #menu="matMenu">
            <button mat-menu-item color="primary" (click)="onModify()"><span>Modifier</span></button>
            <button mat-menu-item color="warn" (click)="onDelete()"><span>Supprimer</span></button>
        </mat-menu>
    </div>
    <h3>{{ post.title | titlecase }}</h3>
    <img [src]="post.imageUrl" [alt]="post.title">
    <span id="location" *ngIf="post.location">Photo prise à {{ post.location }}</span>
    <div class="desc">
        <p>{{ post.description }}</p>
    </div>
    <span>
        <span>
            <mat-icon class="icon" (click)="onLike()">thumb_up</mat-icon> {{ post.likes }}
        </span>
        <span>
            <mat-icon class="icon" (click)="onDislike()">thumb_down</mat-icon> {{ post.dislikes }}
        </span>
    </span>
</div>