i {
    padding-left: 0.625rem;
    color: #FFD7D7;
    &:hover {
        transform: scale(110%);
    }
}

.post-card {
    box-sizing: border-box;
    width: 50%;
    margin: 1.25rem auto;
    padding: 2rem;
    border-radius: 1.25rem;
    border-top: 1px solid rgba(255, 255, 255, .3);
    border-left: 1px solid rgba(255, 255, 255, .3);
    background-color: rgba(255, 255, 255, .3);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, .2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    text-align: center;

    h2 {
        margin-bottom: 0.375rem;
    }

    img {
        width: 100%;
        border-radius: 1.25rem;
    }

    #location {
        display: flex;
        justify-content: center;
        margin-top: 0;
        font-weight: 300;
        font-size: 16px;
    }

    p {
        font-weight: 300;
        font-size: 16px;
        text-align: start;
    }

    span {
        margin: 20px;
        cursor: pointer;
    }
}