.post-card {
  box-sizing: border-box;
  width: 50%;
  margin: 20px auto;
  padding: 10px 30px;
  border-radius: 1.25rem;
  background: #FFD7D7;
  box-shadow: lightgray 4px 4px 20px;

  h2 {
    margin-bottom: 0;
  }

  img {
    width: 100%;
  }

  p {
    font-weight: 300;
    font-size: 16px;
  }
}