<div class="post-card liked" [ngClass]="{ liked: buttonText === 'Like+'}">
    <h2>{{ post.title | titlecase }}</h2>
    <img [src]="post.imageUrl" [alt]="post.title">
    <p *ngIf="post.location">Photo prise à {{ post.location }}</p>
    <p>Mis en ligne le {{ post.createdDate | date: 'longDate'}}</p>
    <p>{{ post.description }}</p>
    <p>
        <button (click)="onAddLike()">{{ buttonText }}</button>
        <span [ngStyle]="{ color: 'rgb(0, ' + post.likes + ', 0)' }">❤️ {{ post.likes }}</span>
    </p>
</div>