/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Lato', sans-serif;
  user-select: none;
  outline: none;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(45deg, #FFD7D7, #4E5166);
  height: 100vh;
}

a {
  cursor: pointer;
}

button {
  background-color: transparent;
  box-sizing: border-box;
  padding: 0.375rem 0.625rem;
  border: none;
  border-radius: 0.5rem;
  box-shadow: lightgray 3px 3px 7px;
  margin-right: 20px;
  outline: none;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    transform: scale(105%);
  }

  &:active {
    transform: translate(1px, 1px);
    box-shadow: lightgray 0 0 5px;
  }
}