// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Groupomania-primary: mat.define-palette(mat.$indigo-palette);
$Groupomania-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Groupomania-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Groupomania-theme: mat.define-light-theme((color: (primary: $Groupomania-primary,
        accent: $Groupomania-accent,
        warn: $Groupomania-warn,
      )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Groupomania-theme);

/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Lato', sans-serif;
  user-select: none;
  outline: none;
}

body {
  padding: 0;
  margin: 0;
  background: #4E5166;
  height: 100vh;
}

a {
  cursor: pointer;
}

::selection {
  background-color: #4E5166;
}

::-moz-selection {
  background-color: #4E5166;
}

input,
textarea,
button {
  width: 80%;
  margin-bottom: 2rem;
  padding: 1rem;
  border: none;
  border-left: 1px solid rgba(255, 255, 255, .3);
  border-top: 1px solid rgba(255, 255, 255, .3);
  border-radius: 50px;
  background: transparent;
  box-shadow: 4px 4px 60px rgba(0, 0, 0, .2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  -moz-backdrop-filter: blur(5px);
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
  transition: all .3s;
}

button {
  width: 150px;
  margin-top: 0.625rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus,
button:hover,
button:focus {
  background: rgba(255, 255, 255, .1);
  box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, .2);
}

::placeholder {
  color: white;
}

.email,
.password {
  margin-bottom: 1.625rem;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}

.drop {
  position: absolute;
  border-top: 1px solid rgba(255, 255, 255, .3);
  border-left: 1px solid rgba(255, 255, 255, .3);
  border-radius: 1.25rem;
  background: rgba(255, 255, 255, .3);
  box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  transition: all 0.2s ease;
}

.drop-1 {
  width: 80px;
  height: 80px;
  top: -20px;
  left: -40px;
  z-index: -1;
}

.drop-2 {
  width: 80px;
  height: 80px;
  bottom: -30px;
  right: -10px;
}

.drop-3 {
  width: 100px;
  height: 100px;
  bottom: 120px;
  right: -50px;
  z-index: -1;
}

.drop-4 {
  width: 120px;
  height: 120px;
  top: -60px;
  right: -60px;
}

.drop-5 {
  width: 60px;
  height: 60px;
  bottom: 170px;
  left: 90px;
  z-index: -1;
}