<div class="form-container">
    <form [formGroup]="loginForm">
        <h2>Connexion</h2>
        <div class="email">
            <input type="email" placeholder="Email" formControlName="email">
            <span class="error" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">Email invalide</span>
        </div>
        <div class="password">
            <input type="password" placeholder="Mot de passe" formControlName="password">
            <span class="error" *ngIf="errorMsg">{{ 'Adresse email ou mot de passe invalide' }}</span>
        </div>
        <button type="submit" [disabled]="loginForm.invalid" (click)="onLogin()">Connexion</button>
        <h4>Pas de compte ? <a (click)="onSignup()">Créer un compte</a></h4>
    </form>

    <div class="drop drop-1"></div>
    <div class="drop drop-2"></div>
    <div class="drop drop-3"></div>
    <div class="drop drop-4"></div>
    <div class="drop drop-5"></div>
</div>