header {
    height: 30%;
    text-align: center;
    background-color: #4E5166;
    margin-bottom: 20px;
    padding: 10px;
}

img {
    display: flex;
    width: 30%;
}

a {
    margin: 0 10px;
    color: #FD2D01;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.active {
    color: #FFD7D7;
    text-decoration: underline;
}

i {

}