header {
    height: 30%;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #FFD7D7;
}

img {
    display: flex;
    width: 30%;
}

a {
    margin: 0 10px;
    color: #FD2D01;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.active {
    color: #FFD7D7;
    text-decoration: underline;
}

i {
    margin-top: 1.625rem;
    color: #FD2D01;
    cursor: pointer;

    &:hover {
        color: #FFD7D7;
    }
}