<div class="form-container">
    <form [formGroup]="postForm">
        <h2>NOUVEAU POST</h2>
        <input type="text" id="title" formControlName="title" maxlength="30" placeholder="Titre">
        <input id="imageUrl" type="file" accept="image/*" #imageInput (change)="onImageAdded($event)">
        <input type="text" id="location" formControlName="location" maxlength="20" placeholder="Lieu">
        <textarea type="text" id="description" formControlName="description" rows="2" maxlength="150" placeholder="Description"></textarea>
        <input type="button" (click)="onSubmitForm()" [disabled]="postForm.invalid" value="Enregistrer">
    </form>

    <div class="drop drop-1"></div>
    <div class="drop drop-2"></div>
    <div class="drop drop-3"></div>
    <div class="drop drop-4"></div>
    <div class="drop drop-5"></div>
</div>

<div class="post-card" *ngIf="postPreview$ | async as post">
    <h4>Mis en ligne le {{ post.createdDate | date: 'longDate'}}</h4>
    <h3>{{ post.title }}</h3>
    <img [src]="imagePreview" *ngIf="imagePreview" [alt]="post.title">
    <span id="location" *ngIf="post.location">Photo prise à {{ post.location }}</span>
    <div class="desc">
        <p>{{ post.description }}</p>
    </div>
</div>