<div class="form-container">
    <form [formGroup]="postForm">
        <h2>NOUVEAU POST</h2>
        <input type="text" id="title" formControlName="title" placeholder="Titre"><br>
        <div class="img-container">
            <input id="image" type="file" accept="image/*"  (change)="onImageAdded($event)">
            <input id="imageUrl" type="text" formControlName="imageUrl" placeholder="URL de l'image"><br>
        </div>
        <input type="text" id="location" formControlName="location" placeholder="Lieu"><br>
        <textarea type="text" id="description" formControlName="description" rows="2" placeholder="Description"></textarea><br>
        <input type="button" (click)="onSubmitForm()" [disabled]="postForm.invalid" value="Enregistrer"><br>
    </form>

    <div class="drop drop-1"></div>
    <div class="drop drop-2"></div>
    <div class="drop drop-3"></div>
    <div class="drop drop-4"></div>
    <div class="drop drop-5"></div>
</div>

<div class="post-card" *ngIf="postPreview$ | async as post">
    <h4>Mis en ligne le {{ post.createdDate | date: 'longDate'}}</h4>
    <h2>{{ post.title | titlecase }}</h2>
    <img [src]="image" *ngIf="image" [alt]="post.title">
    <img [src]="post.imageUrl" *ngIf="post.imageUrl" [alt]="post.title">
    <span id="location" *ngIf="post.location">Photo prise à {{ post.location }}</span>
    <p>{{ post.description }}</p>
</div>