<header>
    <nav>
        <img src="assets/Groupomania Logos/icon-left-font-monochrome-white.png" alt="Groupomania Logo">
        <div>
            <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <mat-icon class="icon">home</mat-icon>
            </a>
            <a routerLink="posts" routerLinkActive="active">
                <mat-icon class="icon">image</mat-icon>
            </a>
            <a (click)="onAddNewPost()">
                <mat-icon class="icon">add_circle</mat-icon>
            </a>
            <a (click)="onLogout()">
                <mat-icon class="icon">exit_to_app</mat-icon>
            </a>
        </div>
    </nav>
</header>
<div class="border"></div>