header {
    margin-bottom: 1.25rem;
    padding: 0.625rem;
}

.logo {
    cursor: pointer;
}

img {
    width: 40%;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

ul li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 3.75rem;
    background-color: rgba(255, 255, 255, .3);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    list-style: none;
    cursor: pointer;
    transition: 0.5s;
}

ul li:hover {
    width: 180px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
}

ul li::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 3.75rem;
    background-color: rgba(255, 255, 255, .3);
    opacity: 0;
    transition: 0.5s;
}

ul li:hover::before {
    opacity: 1;
}

ul li::after {
    content: '';
    position: absolute;
    top: 10px;
    width: 100%;
    height: 100%;
    border-radius: 3.75rem;
    background-color: rgba(255, 255, 255, .3);
    transition: 0.5s;
    filter: blur(15px);
    z-index: -1;
    opacity: 0;
}

ul li:hover::after {
    opacity: 0.5;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.75rem;
    height: 1.75rem;
    font-size: 1.75rem;
    color: white;
    opacity: .7;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    transition: 0.5s;
    transition-delay: 0.25s;
}

ul li:hover .icon {
    transform: scale(0);
    color: white;
    transition-delay: 0s;
}

ul li span {
    position: absolute;
}

ul li .title {
    font-weight: bold;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: white;
    transform: scale(0);
    transition: 0.5s;
    transition-delay: 0s;
}

ul li:hover .title {
    transform: scale(1);
    transition-delay: 0.25s;
}

.menu {
    display: none;
}

::ng-deep .mat-menu-panel {
    display: none;
}

@media screen and (max-width: 1023px) {
    ul {
        display: none;
    }

    .logo {
        margin-left: auto;
        margin-right: auto;
        transition: all 0.2s;

        &:hover {
            transform: scale(105%);
        }
    }

    .menu {
        display: flex;
        align-items: center;
        color: #FFD7D7;
        box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, 0.2);
        transition: all 0.2s;

        &:hover {
            transform: scale(110%);
        }
    }

    ::ng-deep .mat-menu-panel {
        display: block;
        background: #4E5166;
    }

    .button-menu.mat-menu-item {
        width: 100%;
        border-radius: 0%;
        margin: 0%;
        color: #FFD7D7;
        transition: 0.3s;
    }

    .icon-menu {
        color: #FFD7D7;
    }

    button:hover,
    button:focus {
        background: none;
        box-shadow: none;
    }
}

.border {
    position: relative;
    bottom: 1.25rem;
    width: auto;
    height: 3px;
    background: #FFF;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.border::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, #FFD7D7, #4E5166, #FFD7D7, #4E5166, #FFD7D7);
    animation: animate 20s linear infinite;
    background-size: 500%;
}

.border::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, #FFD7D7, #4E5166, #FFD7D7, #4E5166, #FFD7D7);
    animation: animate 20s linear infinite;
    background-size: 500%;
    filter: blur(20px);
}

@keyframes animate {
    0% {
        background-position: 0 0;
    }

    0% {
        background-position: 500% 0;
    }
}