header {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 3px solid #FFD7D7;
}

img {
    width: 30%;
}

nav {
    display: flex;
    justify-content: space-between;
}

div {
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
}

i {
    color: rgba(255, 255, 255, .5);;
    box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
    &:hover {
        transform: scale(110%);
        color: rgba(255, 255, 255, .8);
        box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, .2);
    }
}