.landing-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    background: #FFD7D7;
    box-shadow: none;
}

.landing-links {
    width: 100%;
    text-align: center;
}