.form {
    margin-top: 45vh;
    transform: translateY(-50%);
}

.form-card {
    box-sizing: border-box;
    width: 50%;
    margin: 1.25rem auto;
    padding: 0.625rem 1.875rem;
    border-radius: 1.25rem;
    background: #FFD7D7;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 10px auto;
}

label {
    margin: 0.5rem;
}

input {
    width: 60%;
    height: 30px;
    padding: 0 0.5rem;
    border-radius: 1.25rem;
    border: none;
    outline: none;
}

i {
    padding: 10px;
}

.action-buttons {
    width: 100%;
}

button {
    display: block;
    margin: 20px auto;
}