<div class="form">
    <div class="form-card">
        <a><h2>Inscription</h2></a>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email">
            <label for="password">Mot de passe</label>
            <input #x type="password">
            <a (click)="x.type=x.type=='password'?'text':'password'"><i class="fa-solid fa-eye"></i></a>
        </div>
        <div class="action-buttons">
            <button type="submit" (click)="onLogin()">S'inscrire</button>
        </div>
    </div>
</div>